.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-size: 1.7rem;
  text-align: flex-start;
  font-weight: 700;
  color: var(--text);
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .7rem;
}


@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}