.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .6rem 1.5rem .4rem 1rem;
}

.linklogo {
  display: grid;
  height: max-content;
  width: max-content;
}

.logo {
  width: 8rem;
  height: max-content;
}

.link {
  display: grid;
  padding: .4rem;
}
